.NewPost{
    width: 40%;
    border-radius: 15px;
    background-color: #eee;
    margin: 30px auto auto auto;
    min-height: 250px;

}
.Image{
    width: 92.5%;
    border-radius: 15px;
    min-height: 50px;
}
.Input{
    border-radius: 15px;
    background-color: #E2E1E1;
    font-size: 20px;
    width: 92.5%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: none;
    margin: auto;
    resize: none;
}
.Foot{
    border-top: solid 1px #cccccc;
    width: 95%;
    margin: 10px auto auto auto ;
    display: flex;
    justify-self: end;
    justify-content: space-between;
    height: 45px;
}
.Line{
    background-color: #cccccc;
    width: 0.5px;
    height: 50%;
    margin: auto;
}
.Button{
    width: calc(50% - 0.5px);
    outline: none;
    border: none;
    height: 100%;
}
.ImageContainer{
    position: relative;
    padding-top: 20px;
    width: 100%;
}
.CloseIcon{
    position: absolute;
    right: 30px;
    top: 20px;
    color: white;
    opacity: 0;
    transition: .3s ease;
    cursor: pointer;
    border-radius: 50%;
}
.ImageContainer:hover .CloseIcon{
    opacity: 1;
    transition:             opacity 0.5s;
        -moz-transition:    opacity 0.5s;
        -ms-transition:     opacity 0.5s;
        -o-transition:      opacity 0.5s;
        -webkit-transition: opacity 0.5s;
}
.UserData{
    margin: 10px;
    padding: 10px;
}
@media ( max-width: 1100px ){
    .NewPost {
        width: 80%;   
    }
    
}

@media ( max-width: 540px ){
    .NewPost {
        width: 85%;   
    }
    
}