.DrawerToggle {
   color: white;
   padding: 6px 10px;
   font-size: 50px;
   margin: auto;
}
.Container{
    padding: 0;

}

.DrawerToggle:active {

    background-color: #ab003c;
    border-radius: 5px;
}

@media (min-width: 500px) {
    .Container {
        display: none;
    }
}