.NavigationItem{
    box-sizing: border-box;
    width: 100%;
}

.NavigationItem a {
    color:#ab003c;
    text-decoration: none;
    width: 100%;
    margin: auto;
    height: auto;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
}


@media (min-width: 500px){
    .NavigationItem{
        margin: auto;
        display: flex;
        height: 100%;
        width: 100px;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 10px 10px;
        border-bottom: 4px solid transparent;
    }   

}