.ReviewBar {
    width: 95%;
    height: 45px;
    padding: 10;
    margin: auto;
    font-size: 15px;
    border-top: solid #cccccc 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}
.CommentingReviewBar {
    border-bottom: solid #cccccc 1px;
}

.Comment {
    border: none;
    height: 100%;
    width: 50%;
    border-radius: 50px;
}

.Comment:hover {
    background-color: grey;
}
.Vline{
    background-color: #cccccc;
    width: 0.5px;
    height: 50%;
    margin: auto;
}
