.LoginPage {
  width: 100%;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg#380f55, #f50057); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    -45deg,
    #380f55,
    #f50057
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color:white;

  /* background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e, #c31432, #c31432);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite; */
}

/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */